/*
(!) ORDER OF IMPORTS IS VERY IMPORTANT IN THIS FILE
*/

// @import '@vars';
@import "./fonts.scss";

/* NORMALIZATION */
@import "./normal.scss";
@import '@vars';
/* DOCUMENT */

body {
	font-family: 'Open Sans', 'Noto Sans', sans-serif;
	font-size: 12pt;
	line-height: 1.4em;
	user-select: none;
}

#RootAppContainer {
	z-index: 1;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;

	display: flex;
	flex-direction: column;
}
